body {
  background-color: #282c34;
  color: whitesmoke;
}

.App {
  font-family: "IBM Plex Mono", monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  font-family: "Alex Brush", cursive;
  font-size: 40pt;
  font-weight: 400;
}

.navbar-nav {
  font-size: 20pt;
  font-family: "IBM Plex Mono", monospace;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-title {
  font-size: 50pt;
}

.description-container {
  margin-top: 25px;
  font-size: 15pt;
}

.search-title {
  margin-top: 100px;
  margin-bottom: 50px;
  align-self: center;
  font-size: 50pt;
}

.search-container {
  /* width: 65%; */
  display: flex;
  flex-direction: column;
  align-content: center;
}

.form-container {
  width: 65%;
  display: inline-flex;
  flex-direction: column;

  /* justify-content: space-evenly; */
}

.search-bar {
  border-radius: 15px;
}

.search-btn {
  width: fit-content;
  border-radius: 15px;
}

.search-selector {
  border-radius: 15px;
}

.metrics-container {
  padding-top: 10px;
  font-size: 15px;
}

.public-metrics {
  border: solid;
  border-color: black;
  border-radius: 5px;
}

.metric {
  display: inline;
  /* border: solid;
  border-color: black; */
  border-radius: 5px;
  margin: 10px;
}

.twitter-icon {
  margin-right: 5px;
}

.tweet-feed {
  display: flex;
  width: 65%;
  flex-direction: column;
  align-content: center;
  border-radius: 15px;
  padding: 15px;
  margin-top: 75px;
  background-color: whitesmoke;
}

.tweet-card-container {
  padding: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  border-radius: 15px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.tweet-content-container {
  padding: 15px;
}

.pfp-column {
  justify-content: center;
  padding: 5px;
  margin-left: 10px;
}

.profile-picture {
  border-radius: 50%;
}

.screen-name {
  font-size: x-large;
}

.media {
  border-radius: 15px;
  height: auto;
}

.user {
  border-radius: 50%;
}

.random-user-container {
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
}

.random-user-header {
  padding: 15px;
}

.random-user-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-label {
  color: whitesmoke;
  background-color: #0d6efd;
  border-radius: 10px;
  padding: 6px;
}

.btn-secondary:active {
  background-color: #0d6efd !important;
}

.tweet-info-container {
  display: inline-flex;
  flex-direction: row;
}
